#app {
  height: 100%;
}
.app-view {
  height: 100%;
}
.app-view.dashboard,
.app-view.login {
  background: url("/images/bg.jpg") no-repeat fixed center;
}

.toaster {
  position: fixed;
  opacity: 0.95;
  z-index: 1;
  width: 20vw;
  right: 10px;
  top: 10px;
}

.app-view.dashboard {
  padding-top: 30px;
}
.app-view.dashboard .pages {
  min-height: 100px;
}
.app-view.dashboard .pages .item .remove.icon:hover {
  cursor: pointer;
  color: #f00;
}

.app-view.login,
.app-view.login .grid {
  height: 100%;
}
.app-view.login .image {
  margin-top: -100px;
}
.app-view.login .column {
  max-width: 450px;
}

.app-view.editor {
  padding: 0 15rem;
}

